.bodyT {
    height: 100vh;
    color: white;
    background-color: #191919;
    background-size: 100%;
}

.bgImage {
    background: url("../../Imgs/pin-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.landingLogo {
    width: 50vh;
}

.leftSide {
    flex-grow: 1;
    width: 0vh;
}

.rightSide {
    flex-grow: 1;
}

.footer {
    position: absolute;
    bottom: 0;
}