.body {
    height: 100vh;
    color: white;
    background-color: #191919;
    background-size: 100%;
}

.bgImage {
    background: url("../../Imgs/pin-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.landingLogo {
    width: 50vh;
}

.titleHeader {
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

.actionButton {
    display: flex;
    justify-content: space-between;
}

.leftSide {
    display: flex;
    flex-direction: column;
    width: 325px;
    padding-left: 50px;
    padding-top: 50px;
    text-align: center;
    font-size: 12px;
}

.rightSide {
    flex-grow: 1;
    width: 40vh;
    padding-left: 100px;
    padding-top: 50px;
}

.footerLanding {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footerText {
    font-size: 8px;
    padding-left: 50px;
    padding-bottom: 10px;
}

#gitLink {
    color: lightgray;
    text-decoration: none;
}

/*** LOGINTABLE CSS ****/
