.TrackingBody {
    background-color: #191919;
    height: 100vh;
    padding: 0 50px 0 50px;
}

.topButtons {
    padding-top: 30px;
    padding-bottom: 15px;
}

.trackTable {
    max-height: 75vh!important;
}

.searchTable {
    padding-top: 20px!important;
}

.bListTable {
    background-color: #191919 !important;
}

.tableHeaderText {
    font-weight: bold!important;
    font-size:large!important;
    padding-left: 5px!important;
    padding-bottom: 10px!important;
}

.whiteText {
    color: white !important;
    border-bottom-color: #ffffff25!important;
}