.TrackingBody {
    background-color: #191919;
    height: 100vh;
    padding: 0 50px 0 50px;
}

.trackTopButtons {
    padding-top: 30px;
    padding-bottom: 15px;
}

.trackTable {
    max-height: 75vh!important;
}

.searchTable {
    padding-top: 20px!important;
}

.bListTable {
    background-color: #191919 !important;
}

.whiteText {
    color: white !important;
    border-bottom-color: #ffffff25!important;
}
.mapSide {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 0 !important;
}
.leftSide-map {
    width: 30%;
    align-self: center;
    height: 90%;
    margin-left: 2%;
    padding: 0 !important;
    background-color: #191919 !important;
    border-radius: 15px;
    position: absolute;
}
.tableText {
    background-color: #1c1c1c;
    color: white!important;
    padding: 20px!important;
}